.contact {
	padding-top: 50px;
	padding-bottom: 10vh;
	background-image: url('../img/5th-section.jpg');
}

.contact__wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contact__form {
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 48%;
	background-color: rgba(0, 0, 0, 0.5);

	& textarea {
		resize: none;
	}

	& input,
	& textarea {
		width: 100%;
		padding: 15px;
		border-radius: 5px;
		border: none;
		margin-bottom: 30px;
	}
}

.contact__map {
	padding: 30px;
	width: 48%;
	background-color: rgba(0, 0, 0, 0.5);
}

.contact__btn {
	@include button();
	padding-top: 17px;
	padding-bottom: 17px;
}

@media (max-width: 768px) {
	.contact__wrap {
		flex-direction: column;
	}

	.contact__form {
		width: 100%;
		margin-bottom: 30px;
	}

	.contact__map {
		width: 100%;
	}
}
